*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    height: 80vh;
    margin-left: 28vw;  
    margin-top: 10vh;
}

div{
    position: absolute;
    top: 38%;
    left: 44.1%;
    padding: 1%;
    cursor: pointer;
    
}

a{
    
}

p{
    font-size: 16pt;
    color: #000;
}