* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(148, 38%, 91%);
    /* font-size: 16px; */
    font-family: [Karla]('https://fonts.google.com/specimen/Karla');
    /* font-weight: 400; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    height: 85vh;
    width: 40vw;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 8vh;
    text-align: center;
}

h1 {
    text-align: left;
    margin: 15px;
}

.nome,
div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.nome>nav>input {
    height: 5vh;
    width: 17vw;
    margin-top: 1vh;
    border-radius: 5px;
    border-color: gray;
}

h3 {
    text-align: left;
    font-size: 12px;
    font-weight: 400;

}

.email {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.email>h3 {
    margin-right: 31vw;
    margin-top: 2vh;
}

.email>input {
    height: 5vh;
    width: 36vw;
    margin-top: 1vh;
    border-radius: 5px;
    border-color: gray;
}

.QueryType {
    display: flex;
    flex-direction: column;
}

.QueryType>h3 {
    margin-right: 31vw;
    margin-top: 2vh;
}

#InputRadio {
    display: flex;
    justify-content: space-between;

}

#InputRadio div {
    width: 17vw;
    border: 1px solid #000;
    height: 5vh;
    margin: 10px;
    border-radius: 5px;
    border-color: gray;
}

.mensagem {
    height: 20vh;
    width: 20vw;
    display: flex;
    margin-top: 2vh;
    margin-left: 2vw;
}

.mensagem input {
    width: 36vw;
    height: 15vh;
    border-radius: 8px;
    margin-top: 1vh;
}

.termos>nav {
    display: flex;
    width: 36vw;
    margin-top: 3vh;
}

.termos>nav>input {
    height: 2vh;
    /* top;left;bottom;right */
    margin: 3px 2vw 1vh 0.2vw;
}

.termos>nav>p {
    margin-right: 12vw;
}

button {
    width: 36vw;
    height: 6vh;
    border: none;
    border-radius: 6px;
    background-color: hsl(169, 82%, 27%);
    margin-top: 2vh;
    color: #fff;
    font-weight: 400;
}


/* Definindo o mesmo design para mobile */
@media(max-width: 375px) {

    /* Definido  a parte branca */
    main {
        width: 95vw;
        height: 92%;
        margin-top: 2.5vh;
    }

    /* Definidindo a div dos inout dos nomes */
    .nome,
    div,
    #InputRadio,
    .QueryType > h3,
    .mensagem > h3 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    /* Definindo os inputs */
    .nome>nav>input,
    .email>input,
    #InputRadio div {
        height: 6vh;
        width: 80vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border-radius: 5px;
        border-color: gray;
    }


    /* Ajustabndo o input radio e a descrição de cada input */
    #InputRadio>div {
        display: flex;
        flex-direction: row;
    }

    /* Definindo a estrutura correta do emaul e do input radio */
    .email>h3,
    .QueryType>h3 {
        margin-right: 60vw;
        margin-top: 2vh;
    }

    /* Definir o campo mensagem para o devido enquadramento */
    .mensagem {
        margin-left: 37vw;
    }

    /* Definindo a largura do inout */
    .mensagem input {
        width: 80vw;
    }

    /* Definindo e ajustando o campo de assinalar o termo de concordancia */
    .termos nav{
        width:85vw;
        margin-left:6vw;
    }

    button{
        width:80vw;
        margin-bottom:2vh;
    }

    








}