Removendo medidas caso haja * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-image:url(../../assets/fundoPokedex.jpg); */
    height: 90vh;
}

/* Estilizando a main */
main {
    display: flex;
    justify-content: center;
}

/* Estilizando a imagem pricipal */
#pokedex {
    height: 85vh;
    width: 55vw;
    margin-top: 6vh;
    margin-left: 22vw;
}

/* Estilizando a localização do ambiente e do pokemon */
.ambiente {
    position: absolute;
    top: 22.6vh;
    left: 36.2%;
    transform: translateX(-50%);
    font-size: 2em;
    text-align: center;
}

/* Definindo a altura e a largura do ambiente */
.ambiente>img {
    height: 25vh;
    width: 18vw;
    margin-top: 10vh;
}

/* Estilizando a localização do pokemon */
.pokemon {
    position: absolute;
    top: 6.2vh;
    left: 49.6%;
    transform: translateX(-50%);
    font-size: 2em;
    text-align: center;
}

/* Estilizando o tamanho do pokemom */
.pokemon>img {
    height: 18vh;
    margin-top: 10vh;
    width: auto;

}

/* Definindo as medidas e o local das caracxteristicas */
nav {
    position: absolute;
    top: 60%;
    right: 41.4%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 18vw;

}


.pesquisa{
    margin-right: 45vw;
    margin-top: 8vh;
}

/* Ajeitando o botão de pesquisa */
.pesquisa button {
    background: none;
    border: none;
    padding: 5px;
    border-radius: 60%;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

/* Criando um hover para o botao de pesuisa */
.pesquisa button:hover {
    padding: 6px;
    background-color: #000;
}


/* Definindo a posição da imagem do ash e do pikachu que repreetada a carta de informações */
.carta{
    position: absolute;
    top: 9.5vh;
    left: 15vw;
}

#cartaPokemonAbrir:hover {
    padding: 1px;
    background-color: #ffffff4d;
    border-radius: 10px;
}


/* Definindo o icone de carta pokemon */
#cartaPokemonAbrir {
    height: 6vh;
    width: 3vw;
}

/* Definindo o localdo botao de carta */
#abrirCarta,
#favoritos,
#gameButton {
    background: none;
    border: none;
    border-radius: 40%;
    cursor: pointer;
}

/* Definindo posicção que vai ficar a imagem de joguinho que leva para o jogo de memoria */
.gamezinho{
    position: absolute;
    top: 10vh;
    left: 19vw;
}

#gameButton:hover {
    padding: 1px;
    background-color: #ffffff4d;
}



.caracteristicas {
    margin-left: 2vw;
}

/* Incluindo uma tag p pra o nome */
.nomePokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 6vw;

}

/* Arrumando a tag do nome */
.nomePokemon p {
    margin-top: 0vh;
    margin-right: 22vw;
    font-size: 20pt;
    font-weight: 900;
    color: #333;
    text-transform: capitalize;
    transform: translate(2%, -20%);
    border-radius: 15px;
}

/* Crinado um hover para  o nome do pokemon */
.nomePokemon p:hover {
    font-size: 22pt;
    cursor: pointer;
    color: #000;
}


/* Acrescebtando uma margin op na imgame para enquadrar com o nome */
.nomePokemon img {
    margin-top: 3.5vh;
}


/* Proporções da imagem de caracteristicas */
nav img {
    height: 5vh;
    width: auto;
}

/* Definindo a localização das caracteristicas */
nav p {
    margin-top: -1vh;
    margin-right: 1vw;
}

/* Definindo o local da div  que vai conter as habildiades */
#divHabilidades {
    margin-top: -35vh;
    margin-left: 27.9vw;
    height: 16.5vh;
    width: 17vw;
    background-color: #fff;
    border-radius: 10px;
    overflow-x: scroll;
}

/* Alterando o  lugar das habidiades */
#divHabilidades>p {
    padding: 4px;

}


/* É necessario você definir a parte clicavel da div de seta de avanço em conjunto com a imgame de avanço */
.setaAvanco {
    position: absolute;
    top: 72.6%;
    left: 40.2%;
    text-align: center;
    cursor: pointer;
    transform: rotate(86deg)
        /* transform: rotateY(180deg) */
}

/* Definindo a imagem de seta */
.setaAvanco>img,
.setaRecuo>img {
    height: 6vh;
    margin-top: 1px;
    cursor: pointer;
}

/* É necessario você definir a parte clicavel da div de seta de recuo em conjunto com a imgame de recuo*/
.setaRecuo {
    position: absolute;
    top: 72.6%;
    left: 44.4%;
    text-align: center;
    cursor: pointer;
    transform: rotate(270deg)
}

.setaAvanco,
.setaRecuo {
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.setaAvanco:hover,
.setaRecuo:hover {
    transform: scale(1.2);
    transform: rotate(5deg);
}


/* Criando uma variavel e estlizando para agregar o numero */
#Npokemon {
    position: absolute;
    top: 76%;
    left: 56.8%;
    color:#fff;
}


/* Editando o modal de pesquisa */
.telaPesquisa {
    height: 30%;
    width: 18%;
    position: absolute;
    top: 75%;
    left: 674px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2em;
    border-radius: 15px;
    display: none;
    /* só aparece quando clicar no botão */
    z-index: 100;
}

/* Centralizando */
.divCentralPesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.divCentralPesquisa nav {
    margin-top: -16vh;
}

/* Mudando  o input de pesquisa */
#inputPesquisaPokemon {
    width: 200px;
    padding: 0.5em;
    border-radius: 8px;
    border: none;
    margin-left: 15vw;
    margin-top: 5vh;
}

/* Editando o  btn de pesquisa */
#buscarPokemon {
    padding: 0.5em 1em;
    border-radius: 8px;
    background-color: #C24B06;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 16vw;
    margin-top: 1vh;

}

.resultados {
    color: #fff;
    background-color: #585555;
    margin-left: 15vw;
    width: 200px;
    height: 16vh;
    overflow-y: scroll;
    padding-top: 4px;

}

#fecharmodalPesquisa {
    color: #fff;
    margin-top: -2vh;
    margin-left: 12vw;
    font-family: 18pt;
    cursor: pointer;

}

/* Criando o modal que vai cobrari a tela quando clicar em card pokeomn */
.ModalCobrirTelaCard {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #00000071;
}

/* Modal para colocar acima do modalCobrirTelaCard e ajustar a imagem da carta */
.modalAjustarCard {
    position: absolute;
    width: 40%;
    height: 80%;
    top: 10%;
    background-color: #0000008f;
}

#cardPokemon {
    height: 70vh;
    margin-top: 5vh;
    margin-left: 8vw;
}

#fecharmodalCard {
    position: absolute;
    margin-left: 37vw;
    margin-top: 4vh;
    font-family: 23pt;
    color: #fff;
    cursor: pointer;
}


.modal {
    display: none;
    visibility: hidden;
}

/* #modal {
    display: none;
    visibility: hidden;
} */


/* Definindo o lugar do nome e imgame no card */
.atribuicoesCard {
    position: absolute;
    top: 5.5vh;
    left: 14vw;
}

#nomeVida {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#vidaPokemon{
    margin-top: 4.4vh;
    margin-left: 1vw;
}

.atribuicoesCard img {
    margin-top: 2vh;
    height: 25vh;
}

.atribuicoesCard p {
    font-size: 12pt;
    margin-left: 0.5vw;
    margin-right: 4vw;
    font-weight: 800;
}

#nomePokemonCard {
    margin-top: 4.6vh;
}


.alturaPeso {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 54.4%;
    left: 35%;
}

.alturaPeso p {
    font-size: 10pt;
}

.movimentosPokemon {
    height: 15vh;
    width: 19vw;
    position: absolute;
    top: 46vh;
    left: 6vw;
}

.movimentosPokemon ul {
    margin-left: 4vw;
    margin-top: 2vh;
}