/* Removendo medidas caso haja */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Estilizando a main */
main {
    display: flex;
    justify-content: center;
}



/* Estilizando a imagem pricipal */
#pokedex {
    height: 85vh;
    width: 55vw;
    margin-top: 10vh;

}

/* Estilizando a localização do ambiente e do pokemon */
.ambiente {
    position: absolute;
    top: 6vh;
    left: 49.6%;
    transform: translateX(-50%);
    font-size: 2em;
    text-align: center;
}

/* Definindo a altura e a largura do ambiente */
.ambiente>img {
    height: 28.8vh;
    width: 18vw;
    margin-top: 10vh;
}

/* Estilizando a localização do pokemon */
.pokemon {
    position: absolute;
    top: 6.2vh;
    left: 49.6%;
    transform: translateX(-50%);
    font-size: 2em;
    text-align: center;
}

/* Estilizando o tamanho do pokemom */
.pokemon>img {
    height: 18vh;
    margin-top: 10vh;
    width: auto;

}

/* Definindo as medidas e o local das caracxteristicas */
nav {
    position: absolute;
    top: 60%;
    right: 41.4%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 18vw;

}


/* Acoes de pesquisa e abrir carta */
.acoesLateral {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 52vw;
}


/* Ajeitando o botão de pesquisa */
.pesquisa button {
    background: none;
    border: none;
    padding: 5px;
    background-color: #413d3c;
    border-radius: 40%;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}


/* Criando um hover para o botao de pesuisa */
.pesquisa button:hover {
    padding: 8px;
    background-color: #000;
}


/* Definindo o icone de carta pokemon */
#cartaPokemonAbrir {
    height: 6vh;
    width: 3vw;
}

/* Definindo o localdo botao de carta */
#abrirCarta,
#favoritos {
    background: none;
    border: none;
    border-radius: 40%;
    cursor:pointer;
}

#cartaPokemonAbrir:hover {
   height: 8vh;
   width: 4vw;
}

.caracteristicas {
    margin-left: 2vw;
}

/* Incluindo uma tag p pra o nome */
.nomePokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 6vw;

}

/* Arrumando a tag do nome */
.nomePokemon p {
    margin-top: 2vh;
    margin-bottom: -3vh;
    margin-left: 3vw;
    font-size: 20pt;
    font-weight: 900;
    color: #333;
    text-transform: capitalize;
    transform: translate(2%, -20%);
    border-radius: 15px;
}

/* Crinado um hover para  o nome do pokemon */
.nomePokemon p:hover {
    font-size: 22pt;
    cursor: pointer;
    color: #000;
}


/* Acrescebtando uma margin op na imgame para enquadrar com o nome */
.nomePokemon img {
    margin-top: 3.5vh;
}


/* Proporções da imagem de caracteristicas */
nav img {
    height: 5vh;
    width: auto;
}

/* Definindo a localização das caracteristicas */
nav p {
    margin-top: 4vh;
    margin-right: 1vw;
}


/* É necessario você definir a parte clicavel da div de seta de avanço em conjunto com a imgame de avanço */
.setaAvanco {
    background-color: rgb(194, 75, 6);
    height: 3.5vh;
    width: 2.4vw;
    position: absolute;
    top: 72%;
    left: 35.7%;
    text-align: center;
    cursor: pointer;
}

/* É necessario você definir a parte clicavel da div de seta de recuo em conjunto com a imgame de recuo*/
.setaRecuo {
    background-color: rgb(194, 75, 6);
    height: 3.5vh;
    width: 2.4vw;
    position: absolute;
    top: 72%;
    left: 31.6%;
    text-align: center;
    cursor: pointer;
}

.setaAvanco,
.setaRecuo {
    background-color: #C24B06;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.setaAvanco:hover,
.setaRecuo:hover {
    transform: scale(1.2);
}


/* Criando uma variavel e estlizando para agregar o numero */
#Npokemon {
    position: absolute;
    top: 71.4%;
    left: 69%;
}


/* Editando o modal de pesquisa */
.telaPesquisa {
    height: 30%;
    width: 18%;
    position: fixed;
    top: 75%;
    left: 674px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2em;
    border-radius: 15px;
    display: none;
    /* só aparece quando clicar no botão */
    z-index: 100;
}

/* Centralizando */
.divCentralPesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.divCentralPesquisa nav {
    margin-top: -16vh;
}

/* Mudando  o input de pesquisa */
#inputPesquisaPokemon {
    width: 200px;
    padding: 0.5em;
    border-radius: 8px;
    border: none;
    margin-left: 15vw;
    margin-top: 5vh;
}

/* Editando o  btn de pesquisa */
#buscarPokemon {
    padding: 0.5em 1em;
    border-radius: 8px;
    background-color: #C24B06;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 16vw;
    margin-top: 1vh;

}
.resultados {
    color: #fff;
    background-color: #585555;
    margin-left: 15vw;
    width: 200px;
    height: 16vh;
    overflow-y: scroll;
    padding-top: 4px;

}

#fecharmodalPesquisa {
    color: #fff;
    margin-top: -2vh;
    margin-left: 12vw;
    font-family: 18pt;
    cursor: pointer;

}

/* Criando o modal que vai cobrari a tela quando clicar em card pokeomn */
.ModalCobrirTelaCard{
    position: absolute;
    height:100%;
    width: 100%;
    top: 0;
    left:0;
    background: #00000071;
}

/* Modal para colocar acima do modalCobrirTelaCard e ajustar a imagem da carta */
.modalAjustarCard{
    position: absolute;
    width: 40%;
    height: 80%;
    top:10%;
    background-color: #0000008f;
}

#cardPokemon{
    height: 70vh;
    margin-top: 5vh;
    margin-left: 8vw;
}

#fecharmodalCard{
    position: absolute;
    margin-left: 37vw;
    margin-top: 4vh;
    font-family: 23pt;
    color: #fff;
    cursor:pointer;
}


.modal{
    display: none;
    visibility: hidden;
}


/* Definindo o lugar do nome e imgame no card */
.atribuicoesCard{
    position: absolute;
    top: 5.5vh;
    left: 14vw;
}

#nomeVida{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.atribuicoesCard img{
    margin-top: 2vh;
    height: 25vh;
}

.atribuicoesCard p {
    font-size: 12pt;
    margin-left: 0.5vw;
    margin-right: 4vw;
    font-weight: 800;
} 

#nomePokemonCard{
    margin-top:4.6vh;
}



.alturaPeso{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 48.2%;
    left: 35%;
}

.alturaPeso p {
    font-size: 10pt;
}

.movimentosPokemon{
    height: 15vh;
    width: 19vw;
    position: absolute;
    top: 46vh;
    left: 10.4vw;
}

.movimentosPokemon ul{
    margin-left: 4vw;
    margin-top: 2vh;
}